<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Votre Titre{% endblock %}</title>
    <!-- Lien vers le fichier CSS -->
    <link rel="stylesheet" href="{{ asset('public/assets/css/style.css') }}">
</head>
<body>
    {% block body %}{% endblock %}

    <script src="{{ asset('public/assets/js/script.js') }}"></script>
</body>
</html>
